<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Sign up</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>First Name</ion-label>
            <ion-input  formControlName="firstname" type="text" name="title"></ion-input>
          </ion-item>
          <span class="error-message" *ngIf="signupForm.controls.firstname.hasError('required') && (signupForm.controls.firstname.dirty || signupForm.controls.firstname.touched) && signupForm.controls.firstname.valid  ">
            Firstname is required
          </span>

          <ion-item>
              <ion-label>Last Name</ion-label>
            <ion-input  formControlName="lastname" type="text" name="title"></ion-input>
          </ion-item>
          <span class="error-message" *ngIf="lastname.hasError('required') && (lastname.dirty || lastname.touched)">
          Lastname is required
          </span>

          <ion-item>
              <ion-label>Email</ion-label>
            <ion-input formControlName="email" type="email"  [class.invalid]="!signupForm.controls.email.valid && blur"></ion-input>
          </ion-item>
          <span class="error-message" *ngIf="!signupForm.controls.email.valid  
    && signupForm.controls.email.touched">
          Please enter a valid email.
        </span>

          <ion-item>
              <ion-label>Password</ion-label>
            <ion-input formControlName="password" type="password"  [class.invalid]="!signupForm.controls.password.valid && blur"></ion-input>
          </ion-item>
          <span class="error-message" *ngIf="!signupForm.controls.password.valid  && 
    signupForm.controls.password.touched">
            Your password needs more than 6 characters.
        </span>


          <ion-item>
              <ion-label>Confirm Password</ion-label>
            <ion-input formControlName="confirmPassword" type="password" ></ion-input>
          </ion-item>

          <span class="error-message" *ngIf="confirmPassword.hasError('mismatchedPasswords') && confirmPassword.required">
            Password Missmatch
          </span>



          <ion-item>
              <ion-label >Address</ion-label>
            <ion-input  formControlName="address" type="text"></ion-input>
          </ion-item>

          <span class="error-message" *ngIf="address.hasError('required') && address.touched">
            Address is required
          </span>

          <ion-item>
              <ion-label>Phone Number</ion-label>
            <ion-input formControlName="phone" type="Number"></ion-input>
          </ion-item>

          <span class="error-message" *ngIf="phone.hasError('required') && phone.touched">
            Phone Number is required
          </span>

          <ion-item>
              <ion-label>Referral</ion-label>
            <ion-input  formControlName="referred" type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <button padding ion-button block type="submit" [disabled]="!signupForm.valid"> Register </button>
      </ion-col>
    </ion-row>
    <!-- <pre> {{ signupForm.value | json }} </pre> -->
  </form>

</ion-content>